* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

/* Scores */

#right-scorebox {
    display: block;
    position: relative;
}

#scores-to-three {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 200px;
}

.score-fill-container {
    display: flex;
    position: relative;
    justify-content: space-around;
    width: 100px;
    height: auto;
    top: -16px;
    left: 17.25px;
}

.score {
    /* mask-size: cover;
    mask-image: url('../img/score_blank.svg');
    background-color: black; */

    position: relative;
    width: 30px;
    height: calc((11 / 25) * 30px);
    top: 3px;
    color: red;
    border-radius: 4px;
}

.score svg {
    color: red;
}

.backbox {
    width: 300px;
    height: auto;
}

#right-scorebox .score-fill-container {
    position: relative;
    top: -16;
    left: calc(300px - 100px - 17.25px); /* Change the last number for movement*/
}

#right-box {
    transform: scale(-1, 1);
}

.school-logo {
    position: absolute;
    height: auto;
    width: 100px;

    top: 6px;
    left: 180px;
}

#right-logo {
    left: 15px;
}
