* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

/* Scores */

#scores-to-three {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 200px;
}

.score-fill-container {
    display: flex;
    position: relative;
    justify-content: space-around;
    width: 150px;
    top: 42px;
}

.score {
    position: relative;
    width: 45px;
    top: 4px;
    color: red;
    border-radius: 4px;
}

.score svg {
    color: red;
}

.backbox {
    position: absolute;
    top: 0px;
    width: 300px;
    height: auto;
}

#left-scorebox,
#right-scorebox {
    display: flex;
    align-items: center;
    width: 300px;
    height: 100px;
}

#right-scorebox {
    position: absolute;
    right: 0px;
}

#left-scorebox .score-fill-container {
    position: relative;
    left: 19px;
}

#right-scorebox .score-fill-container {
    position: relative;
    right: 19px;
}

#right-box {
    transform: scale(-1, 1);
}

.logo-holder {
    display: flex;
    width: 300px;
}

.school-logo {
    position: relative;
    height: auto;
    width: 70px;
}

#left-logo {
    flex-direction: row-reverse;
    margin-right: 10px;
}

#wsu-logo {
    width: 90px;
}

#right-logo {
    flex-direction: row;
    margin-left: 10px;
}
